body
{
    padding: 1rem;
}

th, td
{
    padding: 0.5rem;
    border: 1px solid gray;
}

.single-movie th, td
{
    border: none;
}


th
{
    text-align: center;
}

.title
{
    text-align: center;
}