th, td
{
    padding: 0.5rem;
}

.comment-wrapper
{
    background: white;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
}

.blog-footer
{
    margin-top: 4rem;
}

.title
{
    text-align: center;
    margin-top: 4rem;
}